@font-face {
  font-family: 'gmarket';
  src: url(./data/GmarketSansTTFBold.ttf);
}

body {
  background-image: url(./data/기본\ 배경.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}
a {
  text-decoration: none;
  color : #000;
}
a:hover {
  color : blue;
}
